<!DOCTYPE html>
<html lang="it" data-bs-theme="dark">
	<%- include('../partials/header.ejs') %>
	<script nonce="<%= nonce %>" src="/JS/login.js" defer></script>

	<body>
		<%- include('../partials/navbar.ejs') %>
		<h1><%= title %></h1>
		<form action="/userapi">
			<div class="container fields">
				<label for="username"><b>Utente</b></label>
				<br>
				<input type="text" id="username" name="username" placeholder="Inserire Nome Utente" required>
				<br>
				<label for="password"><b>Password</b></label>
				<br>
				<input type="password" id="password" name="password" placeholder="Inserire Password" required>
				<i class="bi bi-eye-slash" id="togglePassword"></i>
				<br>

				<button type="submit" style="width: 40%;">Accedi</button>

				<label class="d-flex">
					<input type="checkbox" id="rememberMe" name="rememberMe" checked="checked"> Ricordami
				</label>

				<div id="login-feedback"></div>
			</div>
		</form>
	</body>
	<%- include('../partials/footer.ejs') %>

</html>
