<!DOCTYPE html>
<html lang="it">
	<%- include('../partials/header.ejs') %>
	<script src="/JS/signup.js" defer></script>

	<body>
		<%- include('../partials/navbar.ejs') %>
		<h1><%= title %></h1>
		<form>
			<div class="container fields">
				<label for="username"><b>Utente</b></label>
				<br>
				<input type="text" id="username" name="username" placeholder="Inserire Nome Utente" required>
				<br>
				<label for="password"><b>Password</b></label>
				<br>
				<input type="password" id="password" name="password" placeholder="Inserire Password" required>
				<i class="bi bi-eye-slash" id="togglePassword"></i>
				<br>
				<label for="confirmPassword"><b>Conferma Password</b></label>
				<br>
				<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Reinserire Password" required>
				<i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
				<br>

				<dim>
					<label><b>Policy:<br></b></label>
					<% policies.forEach((policy) => { %>
						<input type="checkbox" class="policy" id="<%= policy.id %>" name="<%= policy.id %>"> <%= policy.text %>
						<a> | </a>
						<% if (policy.nl) { %>
						 <br>
						<% } %>
					<% }) %>
				</dim>
				<br>

				<label>
					<input type="checkbox" name="createPlayer" checked>Crea giocatore
				</label>
				<br>

				<button type="submit">Registra</button>
				<br>

				<div id="signupFeedback"></div>
			</div>

		</form>
	</body>
	<%- include('../partials/footer.ejs') %>

</html>
