<!DOCTYPE html>
<html lang="it" data-bs-theme="dark">
<%- include("./partials/header.ejs") %>

<body>
    <%- include("./partials/navbar.ejs") %>
    <h1><%= title %></h1>
    <p><%= error %></p>
</body>
<%- include("./partials/footer.ejs") %>

</html>