<!DOCTYPE html>
<html lang="it">
	<%- include('../partials/header.ejs') %>
	<script nonce="<%= nonce %>" src="/JS/articleEditor.js" type="text/javascript" defer></script>

	<body class="">
		<%- include('../partials/navbar.ejs') %>
		<h1><%= title %></h1>
		<div class="container">
			<form>
				<div class="form-floating mb-2">
					<input type="text" placeholder="Inserire un titolo" name="title" class="form-control" required>
					<label for="title" class="form-lable">Inserisci un titolo</label>
				</div>
				<div class="form-floating mb-2">
					<input type="text" placeholder="Inserire un sottotitolo" name="subtitle" class="form-control" required>
					<label for="subtitle" class="form-lable">Inserisci un sottotitolo</label>
				</div>
				<div class="mb-2">
					<label for="tags" class="form-label">Inserisci i tag</label>
					<input type="text" name="tags" id="tags" class="form-control" list="tagsList" data-role="tagsinput" required>
					<datalist id="tagsList">
						<option value="ANNUNCI">
						<option value="COMUNICAZIONI">
						<option value="IMPORTANTE">
						<option value="REGOLAMENTO">
						<option value="MISSIONE">
						<option value="EVENTO">
						<option value="AVVISO">
					</datalist>
				</div>

				<label for="md-editor" class="form-label">Inserisci il testo</label>
				<textarea id="md-editor" style="min-height: 500px" required></textarea>

				<button type="submit" class="btn btn-primary" id="submit">Pubblica</button>
				<div id="feedback"></div>
			</form>
		</div>
	</body>

	<%- include('../partials/footer.ejs') %>

</html>
