<!DOCTYPE html>
<html lang="it">
	<%- include('../partials/header.ejs') %>
	<% const checkPolicy = (policy = []) => {
    var check = false;
    policy.forEach(p => {
      if (userPolicies.includes(p)) check = true;
    });
    return check;
  } %>

	<body>
		<%- include('../partials/navbar.ejs') %>
		<h1><%= title %></h1>
		<div class="container">
			<% if (auth && (isAdmin || checkPolicy(['writearticles']))) { %>
				<a class="btn btn-primary" href="/news/articleEditor">Crea un nuovo annuncio</a>
			<% } %>
			<% if (articles.length > 0) { %>
			<ul class="list-group">
				<% articles.forEach((article) => { %>
					<li class="list-group-item">
						<a href="/news/<%= article._id %>" class="link-dark"><h4><%= article.title %></h4></a>
						<h6 class="text-secondary"><%= article.subtitle %></h6>
						<% article.tags.forEach(tag => { %>
							<span class="badge bg-secondary" style="--bs-bg-opacity: .5"><%= tag %></span>
						<% }) %>
						<p class="text-secondary"><%= article.author %>, <%= article.date.toLocaleDateString() %></p>
					</li>
				<% }); %>
			</ul>
			<% } else { %>
				<p>Nessun articolo disponibile!</p>
			<% } %>
		</div>
	</body>
	<%- include('../partials/footer.ejs') %>

</html>
