<!DOCTYPE html>
<html lang="it">
	<%- include('../partials/header.ejs') %>

	<body>
		<%- include('../partials/navbar.ejs') %>
		<h1><%= title %></h1>
		<div class="container">
			<% /* if (articles.lenght > 0) { */%>
			<ul class="list-group">
				<% articles.forEach((article) => { %>
					<li class="list-group-item">
						<a href="/news/<%= article._id %>" class="link-dark"><h4><%= article.title %></h4></a>
						<h6 class="text-secondary"><%= article.subtitle %></h6>
						<% article.tags.forEach(tag => { %>
							<span class="badge bg-secondary" style="--bs-bg-opacity: .5"><%= tag %></span>
						<% }) %>
						<p class="text-secondary"><%= article.author %>, <%= article.date.toLocaleDateString() %></p>
					</li>
				<% }); %>
			</ul>
			<% /*} else { %>
			<!-- <p>Nessun articolo disponibile!</p> -->
			<% } */ %>
		</div>
	</body>
	<%- include('../partials/footer.ejs') %>

</html>
